<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>CampusConnect</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FindProfile</servlet-name>
    <servlet-class>dataBase.FindProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindProfile</servlet-name>
    <url-pattern>/FindProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FRegistration</servlet-name>
    <servlet-class>dataBase.FRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FRegistration</servlet-name>
    <url-pattern>/FRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SRegistration</servlet-name>
    <servlet-class>dataBase.SRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SRegistration</servlet-name>
    <url-pattern>/SRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VerifyEMail</servlet-name>
    <servlet-class>eMail.VerifyEMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyEMail</servlet-name>
    <url-pattern>/VerifyEMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsFeed</servlet-name>
    <servlet-class>feeds.NewsFeed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsFeed</servlet-name>
    <url-pattern>/NewsFeed</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostNewsFeed</servlet-name>
    <servlet-class>feeds.PostNewsFeed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostNewsFeed</servlet-name>
    <url-pattern>/PostNewsFeed</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostRoomMateFeed</servlet-name>
    <servlet-class>feeds.PostRoomMateFeed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostRoomMateFeed</servlet-name>
    <url-pattern>/PostRoomMateFeed</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RoomMateFeed</servlet-name>
    <servlet-class>feeds.RoomMateFeed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomMateFeed</servlet-name>
    <url-pattern>/RoomMateFeed</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PhotoUpload</servlet-name>
    <servlet-class>photoUpload.PhotoUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoUpload</servlet-name>
    <url-pattern>/PhotoUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginAuth</servlet-name>
    <servlet-class>session.LoginAuth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAuth</servlet-name>
    <url-pattern>/LoginAuth</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>session.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostSMarketFeed</display-name>
    <servlet-name>PostSMarketFeed</servlet-name>
    <servlet-class>feeds.PostSMarketFeed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostSMarketFeed</servlet-name>
    <url-pattern>/PostSMarketFeed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SMarketFeed</display-name>
    <servlet-name>SMarketFeed</servlet-name>
    <servlet-class>feeds.SMarketFeed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SMarketFeed</servlet-name>
    <url-pattern>/SMarketFeed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>feeds.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchProfile</display-name>
    <servlet-name>searchProfile</servlet-name>
    <servlet-class>feeds.searchProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchProfile</servlet-name>
    <url-pattern>/searchProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deletepost</display-name>
    <servlet-name>Deletepost</servlet-name>
    <servlet-class>feeds.Deletepost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deletepost</servlet-name>
    <url-pattern>/Deletepost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deletepostnew</display-name>
    <servlet-name>Deletepostnew</servlet-name>
    <servlet-class>feeds.Deletepostnew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deletepostnew</servlet-name>
    <url-pattern>/Deletepostnew</url-pattern>
  </servlet-mapping>
</web-app>